<extend name="Layout:index_base"/>
<block name="css">
    <link rel="stylesheet" href="/public/css/authentication/authentication.css">
    <link rel="stylesheet" href="/public/css/authentication/rightList.css">
</block>
<block name="js">
    <script src="/public/js/require/require.js" defer async="true"  data-main='/public/js/authentication/authentication.js'></script>
    <script>
        var scope={

        }

    </script>
</block>
<block name="main">
    <div class="header"></div>
    <div class="content">
        <div class="w">
            <include file="user:nav" />
            <div class="right">
                <!------------------联系反馈end-------------------------------------------------------->
                <div class="connectBackTab tab">
                    <div class="apply_safeguard">
                        <div class="apply_safeguardTBox">
                            <span style="cursor: pointer" class="select tl">提交反馈</span>
                            <span style="cursor: pointer" class="tr1">反馈历史</span>
                        </div>
                        <p class="submitFeedbackUnderline"></p>
                        <div id="com1">
                            <div class="show commonLi">
                                <form action="/home/ServiceCenter/feedback"  method="post" enctype="multipart/form-data">
                                    <div class="respondentPerson">
                                        标题&nbsp;&nbsp;&nbsp;<input name="title" type="text" placeholder="简要说明反馈内容，20字符以内"/>
                                    </div>

                                    <div class="complaintContent">
                                        <span>内容</span>&nbsp;&nbsp;&nbsp;<textarea name="content" placeholder="请描述您的意见或者问题，200字以内" style="width:496px;height:108px;"/></textarea>
                                    </div>
                                    <div class="addPhotos">
                                        <span class="addPhotosl">添加照片：</span>
                                        <div class="addPhotosr">
                                            <img class="applyFeedbackUp" style="cursor: pointer" src="/public/img/authenticaton/addSchool.png" onclick="$('#feedBackUpload').click()">
                                            <input type="file" accept="image/jpg,image/jpeg,image/png" id="feedBackUpload" name="img_path" style="display:none;" class="applyFeedback_picture">
                                            <span>未选择任何文件(非必填项)</span><br>
                                            <span style="color:red;">格式为JPG、PNG，大小不超过3M，内容合法健康</span>
                                        </div>
                                    </div>
                                    <button class="submita" style="outline:none;cursor:pointer;" type="submit">提&nbsp;&nbsp;交</button>
                                </form>
                            </div>
                            <div class="commonLi">
                                <div class="feedbackHistory">
                                    <div class="feedbackHistorytop">
                                        <p class="feedbackHistoryTitle">标题</p>
                                        <p class="feedbackHistoryTime">反馈时间</p>
                                        <p class="feedbackHistoryResults">受理结果</p>
                                    </div>
                                    <div class="feedbackHistorybottom">
                                        <foreach name="feedLists" item="feedList">
                                        <p class="feedbackHistoryTitles">审核流程过多，时间较长</p>
                                        <p class="feedbackHistoryTimes"><span>2016.11.05</span><span>13:07</span></p>
                                        <p class="feedbackHistoryResultss">被封号(被公告)</p>
                                        </foreach>
                                    </div>
                                </div>
                                <div class="listPage" style="width:300px;height:80px;">
                                    {$pageRes}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------联系反馈end-------------------------------------------------------->
            </div>
        </div>
    </div>
    <span class="is_error1" style="display:none;">{$res}</span>
</block>
<div id="nav">
    <div class="planar lastBox">
        <div class='online'>在线服务</div>
        <img class='planarP' src='/public/img/common/services.png' />
    </div>
    <div class="contact1 lastBox">
        <img class='contactP' src="/public/img/common/QRsmall.png"  />
    </div>
    <div class="up lastBox">
        <div class='return'>返回顶部</div>
        <img class='upP' src="/public/img/common/returnTop.png" alt="" />
    </div>
    <div class="slightlyQR">
        <img src="/public/img/common/QRcode.png" />

    </div>
    <div class="triangle"></div>
</div>
</body>

</html>