
<include file="Index/header" />
<body>

<div id="wrapper">

    <include file="Index/nav"/>

    <div id="page-wrapper">

    <div class="container-fluid" >

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/admin/coach">教练管理</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <form action="/admin/menu/index" method="get">
            </form>
        </div>
        <div>
          <button id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加 </button>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3></h3>
                <div class="table-responsive">
                    <form id="singcms-listorder">
                    <table class="table table-bordered table-hover singcms-table">
                        <thead>
                        <tr>
                            <th>用户ID</th>
                            <th>状态</th>
                            <th>姓名</th>
                            <th>手机号</th>
                            <th>加入时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="coachs" id="coach">
                            <tr>
                                <td>{$coach.id}</td>
                                <td>{$coach['status']?'正常':'禁用'}</td>
                                <td>{$coach.name}</td>
                                <td>{$coach.phone}</td>
                                <td>{$coach.add_time|date='Y-m-d H:i',###}</td>
                                <td>
                                    <button type="button" class='btn <if condition="$coach.status eq 1">btn-primary<else />btn-success</if> status' attr-id="{$coach.id}">
                                        {$coach['status']?'禁用':'启用'}
                                    </button>
                                <button type="button"class="btn btn-primary verifyInfo" attr-id="{$coach.id}">查看课表</button>
                                <button type="button" class="btn btn-primary edit singcms-edit" attr-id="{$coach.id}">修改信息</button>
                                <button type="button" class="btn btn-danger delete" attr-id="{$coach.id}"  attr-message="删除">删除</button>
                                </td>
                            </tr>
                        </volist>

                        </tbody>
                    </table>
                    </form>
                    <div>
                        {$pageRes}
			        </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Morris Charts JavaScript -->
<script>
    var SCOPE = {
        'jump_url' : '/admin/coach/index?page={$page}', //跳转URL
        'coach_info_url' : '/admin/coach/certificationInfo', //认证信息URL
        'add_url' : '/admin/coach/add', //添加用户URL
        'edit_url' : '/admin/coach/edit',//修改URL
        'change_status_url' : '/admin/coach/changeStatus', //删除URL
    }
</script>
<include file="Index/footer" />





