<extend name="Layout:index_base"/>
<block name="css">
    <link rel="stylesheet" href="/public/css/authentication/authentication.css">
    <link rel="stylesheet" href="/public/css/authentication/rightList.css">
</block>
<block name="js">
    <script src="/public/js/require/require.js" defer async="true"  data-main='/public/js/authentication/authentication.js'></script>
    <script>
        var scope={

        }

    </script>
</block>
<block name="main">
    <div class="header"></div>
    <div class="content">
        <div class="w">
            <include file="user:nav" />
            <div class="right">
                <!------------------------------------------活动消息----------------------------------->
                <div class="activityMessageTab">
                    <div class="personalNews">
                        <div class="personalPictures"></div>
                        <div class="personalRightBox">
                            <p class="first">
                                <span class="personalCenterTitle">可口可乐营销大赛</span>
                                <span class="personalCenterDate">2016.12.14</span>
                                <span class="personalCenterTime">14：29</span>
                            </p>
                            <p class="Second">申请成功啦，赶快联系合作方把！</p>
                            <p class="Third">
                                <span>四川车优里科技有限公司</span>
                                <span>姚乐</span>
                                <span>市场经理</span>
                                <span>电话：<a>13989375543</a></span>
                                <span>qq：<a>1107314326</a></span>
                            </p>
                        </div>

                    </div>
                    <div class="personalNews">
                        <div class="personalPictures"></div>
                        <div class="personalRightBox">
                            <p class="first">
                                <span class="personalCenterTitle">可口可乐营销大赛</span>
                                <span class="personalCenterDate">2016.12.14</span>
                                <span class="personalCenterTime">14：29</span>
                            </p>
                            <p class="Second">申请成功啦，赶快联系合作方把！</p>
                            <p class="Third">
                                <span>四川车优里科技有限公司</span>
                                <span>姚乐</span>
                                <span>市场经理</span>
                                <span>电话：<a>13989375543</a></span>
                                <span>qq：<a>1107314326</a></span>
                            </p>
                        </div>

                    </div>
                    <div class="personalNews">
                        <div class="personalPictures"></div>
                        <div class="personalRightBox">
                            <p class="first">
                                <span class="personalCenterTitle">可口可乐营销大赛</span>
                                <span class="personalCenterDate">2016.12.14</span>
                                <span class="personalCenterTime">14：29</span>
                            </p>
                            <p class="Second">申请成功啦，赶快联系合作方把！</p>
                            <p class="Third">
                                <span>四川车优里科技有限公司</span>
                                <span>姚乐</span>
                                <span>市场经理</span>
                                <span>电话：<a>13989375543</a></span>
                                <span>qq：<a>1107314326</a></span>
                            </p>
                        </div>

                    </div>
                    <div class="personalNews">
                        <div class="personalPictures"></div>
                        <div class="personalRightBox">
                            <p class="first">
                                <span class="personalCenterTitle">可口可乐营销大赛</span>
                                <span class="personalCenterDate">2016.12.14</span>
                                <span class="personalCenterTime">14：29</span>
                            </p>
                            <p class="Second">申请成功啦，赶快联系合作方把！</p>
                            <p class="Third">
                                <span>四川车优里科技有限公司</span>
                                <span>姚乐</span>
                                <span>市场经理</span>
                                <span>电话：<a>13989375543</a></span>
                                <span>qq：<a>1107314326</a></span>
                            </p>
                        </div>

                    </div>
                    <div class="personalNews">
                        <div class="personalPictures"></div>
                        <div class="personalRightBox">
                            <p class="first">
                                <span class="personalCenterTitle">可口可乐营销大赛</span>
                                <span class="personalCenterDate">2016.12.14</span>
                                <span class="personalCenterTime">14：29</span>
                            </p>
                            <p class="Second">申请成功啦，赶快联系合作方把！</p>
                            <p class="Third">
                                <span>四川车优里科技有限公司</span>
                                <span>姚乐</span>
                                <span>市场经理</span>
                                <span>电话：<a>13989375543</a></span>
                                <span>qq：<a>1107314326</a></span>
                            </p>
                        </div>

                    </div>
                    <div class="personalNews">
                        <div class="personalPictures"></div>
                        <div class="personalRightBox">
                            <p class="first">
                                <span class="personalCenterTitle">可口可乐营销大赛</span>
                                <span class="personalCenterDate">2016.12.14</span>
                                <span class="personalCenterTime">14：29</span>
                            </p>
                            <p class="Second">申请成功啦，赶快联系合作方把！</p>
                            <p class="Third">
                                <span>四川车优里科技有限公司</span>
                                <span>姚乐</span>
                                <span>市场经理</span>
                                <span>电话：<a>13989375543</a></span>
                                <span>qq：<a>1107314326</a></span>
                            </p>
                        </div>

                    </div>
                    <div class="listPage">
                        <div class="floatingPage">
                            翻页插件位置
                        </div>
                    </div>
                </div>
                <!------------------------------------------活动消息----------------------------------->
            </div>
        </div>
    </div>
</block>
<div id="nav">
    <div class="planar lastBox">
        <div class='online'>在线服务</div>
        <img class='planarP' src='/public/img/common/services.png' />
    </div>
    <div class="contact1 lastBox">
        <img class='contactP' src="/public/img/common/QRsmall.png"  />
    </div>
    <div class="up lastBox">
        <div class='return'>返回顶部</div>
        <img class='upP' src="/public/img/common/returnTop.png" alt="" />
    </div>
    <div class="slightlyQR">
        <img src="/public/img/common/QRcode.png" />

    </div>
    <div class="triangle"></div>
</div>
</body>

</html>