<extend name="Layout:index_base"/>
<block name="css">
    <link rel="stylesheet" href="/public/css/authentication/authentication.css">
    <link rel="stylesheet" href="/public/css/authentication/rightList.css">
</block>
<block name="js">
    <script src="/public/js/require/require.js" defer async="true"  data-main='/public/js/authentication/authentication.js'></script>
    <script>
        var scope={

        }

    </script>
</block>
<block name="main">
    <div class="header"></div>
    <div class="content">
        <div class="w">
            <include file="user:nav" />
            <div class="right">
                <!------------------------------------------系统消息----------------------------------->
                <div class="systemMessageTab">
                    <div class="personalNews">
                        <div class="personalPictures"></div>
                        <div class="personalRightBox">
                            <p class="first">
                                <span class="personalCenterTitle">可口可乐营销大赛</span>
                                <span class="personalCenterDate">2016.12.14</span>
                                <span class="personalCenterTime">14：29</span>
                            </p>
                            <p class="Second">爱贝壳APP上线！随时随地查询，申请，处理，评论，让业务不再离你而去！</p>
                            <p class="Third dj">
                                <a>详情点击链接>></a>
                            </p>
                        </div>

                    </div>
                    <div class="personalNews">
                        <div class="personalPictures"></div>
                        <div class="personalRightBox">
                            <p class="first">
                                <span class="personalCenterTitle">可口可乐营销大赛</span>
                                <span class="personalCenterDate">2016.12.14</span>
                                <span class="personalCenterTime">14：29</span>
                            </p>
                            <p class="Second">爱贝壳APP上线！随时随地查询，申请，处理，评论，让业务不再离你而去！</p>
                            <p class="Third dj">
                                <a>详情点击链接>></a>
                            </p>
                        </div>

                    </div>
                    <div class="personalNews">
                        <div class="personalPictures"></div>
                        <div class="personalRightBox">
                            <p class="first">
                                <span class="personalCenterTitle">可口可乐营销大赛</span>
                                <span class="personalCenterDate">2016.12.14</span>
                                <span class="personalCenterTime">14：29</span>
                            </p>
                            <p class="Second">爱贝壳APP上线！随时随地查询，申请，处理，评论，让业务不再离你而去！</p>
                            <p class="Third dj">
                                <a>详情点击链接>></a>
                            </p>
                        </div>

                    </div>
                    <div class="personalNews">
                        <div class="personalPictures"></div>
                        <div class="personalRightBox">
                            <p class="first dj">
                                <span class="personalCenterTitle">可口可乐营销大赛</span>
                                <span class="personalCenterDate">2016.12.14</span>
                                <span class="personalCenterTime">14：29</span>
                            </p>
                            <p class="Second">爱贝壳APP上线！随时随地查询，申请，处理，评论，让业务不再离你而去！</p>
                            <p class="Third dj">
                                <a>详情点击链接>></a>
                            </p>
                        </div>

                    </div>
                    <div class="personalNews">
                        <div class="personalPictures"></div>
                        <div class="personalRightBox">
                            <p class="first dj">
                                <span class="personalCenterTitle">可口可乐营销大赛</span>
                                <span class="personalCenterDate">2016.12.14</span>
                                <span class="personalCenterTime">14：29</span>
                            </p>
                            <p class="Second">爱贝壳APP上线！随时随地查询，申请，处理，评论，让业务不再离你而去！</p>
                            <p class="Third dj">
                                <a>详情点击链接>></a>
                            </p>
                        </div>

                    </div>
                    <div class="personalNews">
                        <div class="personalPictures"></div>
                        <div class="personalRightBox">
                            <p class="first">
                                <span class="personalCenterTitle">可口可乐营销大赛</span>
                                <span class="personalCenterDate">2016.12.14</span>
                                <span class="personalCenterTime">14：29</span>
                            </p>
                            <p class="Second">爱贝壳APP上线！随时随地查询，申请，处理，评论，让业务不再离你而去！</p>
                            <p class="Third dj">
                                <a>详情点击链接>></a>
                            </p>
                        </div>

                    </div>
                    <div class="listPage">
                        <div class="floatingPage">
                            翻页插件位置
                        </div>
                    </div>

                </div>
                <!------------------------------------------系统消息----------------------------------->
            </div>
        </div>
    </div>
</block>
<div id="nav">
    <div class="planar lastBox">
        <div class='online'>在线服务</div>
        <img class='planarP' src='/public/img/common/services.png' />
    </div>
    <div class="contact1 lastBox">
        <img class='contactP' src="/public/img/common/QRsmall.png"  />
    </div>
    <div class="up lastBox">
        <div class='return'>返回顶部</div>
        <img class='upP' src="/public/img/common/returnTop.png" alt="" />
    </div>
    <div class="slightlyQR">
        <img src="/public/img/common/QRcode.png" />

    </div>
    <div class="triangle"></div>
</div>
</body>

</html>